:root {
  --background: #ffffff;
  --foreground: hsl(214.3 31.8% 91.4%), // light gray
;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(214.3 31.8% 91.4%);
    --foreground: #ededed;
  }
}
.logo {
  display: flex; /* enable flexbox */
  flex-direction: column; /* stack children vertically */
  align-items: center; /* center horizontally */
  justify-content: center; /* center vertically */
  text-align: center; /* optional: center text inside elements */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
